Package: enigma2-plugin-extensions-e2piconizer
Version: 1.20-20230220
Section: extra
Priority: optional
Architecture: all
Maintainer: kiddac
Description: E2 Piconizer - Picon Downloader/Creator
Source: https://www.linuxsat-support.com
