Package: enigma2-plugin-extensions-e2piconizer
Version: 1.08_20190708
Section: extra
Priority: optional
Architecture: all
Maintainer: <kiddac2015@gmail.com>
Description: E2 Piconizer - Picon Downloader/Creator
Depends: python-mmap, python-multiprocessing
Source: https://www.linuxsat-support.com